@model AppAspGroupe12025.Models.Flotte

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Flotte</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MatriculeFlotte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatriculeFlotte)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdFlotte }) |
    @Html.ActionLink("Back to List", "Index")
</p>
