@model AppAspGroupe12025.Models.Gestionnaire

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Gestionnaire</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomUtilisateur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomUtilisateur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrenomUtilisateur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrenomUtilisateur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailUtilisateur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailUtilisateur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelUtilisateur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelUtilisateur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CNIGestionnaire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CNIGestionnaire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Agence.NineaAgence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Agence.NineaAgence)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdUtilisateur }) |
    @Html.ActionLink("Back to List", "Index")
</p>
