@model PagedList.IPagedList<AppAspGroupe12025.Models.Agence>
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.Label("Adresse", htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-4">
            @Html.TextBox("Adresse", ViewBag.Adresse as string)
        </div>
    </div>

    <div class="form-group">
        @Html.Label("ninea", htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-4">
            @Html.TextBox("ninea", ViewBag.ninea as string)
        </div>
    </div>

    <div class="form-group">
        @Html.Label("rccm", htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-4">
            @Html.TextBox("rccm", ViewBag.rccm as string)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Rechercher" class="btn btn-default" />
        </div>
    </div>

}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Gestionnaire.CNIGestionnaire)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().NineaAgence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().AdresseAgence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Longitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().RccmAgence)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Gestionnaire.CNIGestionnaire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NineaAgence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdresseAgence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RccmAgence)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdAgence }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdAgence }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdAgence })
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new {page,Adresse=ViewBag.Adresse,ninea=ViewBag.ninea,rccm=ViewBag.rccm}))
